//Vars
$font-family: "Open Sans", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
$main-color: #26A69A;
$white-color: #fefefe;
$gray: #F0F3F4;
$gray-light: #f9f9f9;
$font-color: #4f4f4f;

$dark-gray: #545c64;

//Sobreescribir variables de Element UI.
$--color-primary: $main-color;
$--font-path: '~element-ui/packages/theme-chalk/src/fonts';
$--color-text-primary: $font-color;


//Import Libraries
//@import "~skeleton-scss/scss/skeleton.scss";
@import "~normalize.css";
@import "~element-ui/packages/theme-chalk/src/index";


//Overwrite Element UI
@font-face {
  font-family: 'element-icons';
  src: url('/static/fonts/element-icons.woff') format("woff"),
  url('/static/fonts/element-icons.ttf') format("truetype");
  font-weight: normal;
  font-style: normal;
}

.el-form-item{
  //margin-bottom: 0px;
}
p{
  font-size: 0.85rem;
  line-height: 22px;
  letter-spacing: 0.01rem;
  color: $font-color;
}
.el-menu{
  border: 0px;
  li, .el-submenu__title{
    font-size: 13px;
  }
}
.el-menu--collapse {
  width: 54px;
}
.el-menu-item{
  padding: 0px 15px;
}
.el-submenu__title, .el-menu-item{
  span{
    margin-left: 10px;
  }
}
.el-input{
  width: auto;
}
.el-form--label-top .el-form-item__label{
  padding: 0;
}
.el-submenu .el-menu-item{
  overflow: hidden;
}

// App Styles
body{
  font-family: $font-family;
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s
}
.fade-enter, .fade-leave-to{
  opacity: 0
}
body{
  background: $gray;
  font-size: 0.85rem;
}

//Custom Clases
.fluid-width{
  width: 100%;
  .el-input, .el-select{
    width: 100%;
  }
}
.float-right{
  float: right;
}
.text-right{
  text-align: right;
}
.text-success{
  color: $main-color;
}

//Admin Component
.header{
  background: $main-color;
  color: $white-color;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  box-shadow: 0px 1px 1px rgba(0,0,0,0.25);
  .header-right, .header-left, .header-right > div{
    display: flex;
    align-items: center;
  }
  h1{
    margin: 0;
    font-size: 1.2rem;
    text-transform: uppercase;
  }
  .avatar{
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: $white-color;
    margin-right: 10px;
  }
  a{
    text-decoration: none;
    color: $white-color;
    &:hover{
      color: #fff;
    }
  }
  .menu-collapse-switch{
    margin-left: 20px;
    i{
      font-size: 1.2rem;
    }
  }
  p{
    color: $white-color;
  }
}
.col-menu{
  min-height: 100vh;
  background: $dark-gray;
  transition: all 0.3s ease-in-out;
}
.user-menu{
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  li{
    padding: 5px;
    a{
      text-decoration: none;
      color: $dark-gray;
      display: block;
      &:hover{
        color: $main-color;
      }
    }
  }
}
.col-content{
  padding: 2em;
  transition: all 0.3s ease-in-out;
  .el-breadcrumb__item{
    span{
      font-size: 1.2rem;
    }
  }
}

.score{
  width: 15px;
  height: 15px;
  display: inline-block;
  border-radius: 50%;
  &.score-green{
    background: #5daf34;
  }
  &.score-yellow{
    background: #f3e768;
  }
  &.score-red{
    background: #f31c1b;
  }
}

.table-row{
  margin-bottom: 1em;
  border-bottom: solid 1px darken($gray, 8%);
  &:first-of-type{
    border-top: solid 1px darken($gray, 8%);
    padding-top: 1em;
  }
}
.flex-center{
  display: flex;
  align-items: center;
  justify-content: center;
}

.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  max-height: 190px;
  max-width: 100%;
  display: block;
}

.form-item-space{
  margin-top: 2.8em;
}

//Spaces
.m-bottom-1{
  margin-bottom: 1em;
}
.m-bottom-2{
  margin-bottom: 2em;
}
.m-bottom-3{
  margin-bottom: 3em;
}

@media all and (max-width: 768px) {
  .header{
    flex-direction: column;
    & > div{
      margin-bottom: 10px;
    }
  }
  .header-description{
    display: none;
  }
}